{% extends 'front/base.html.twig' %}

{% block body %}


    <div class="container">
        <h1>Crée une nouvelle annonce </h1>
        {{ include('front/listing/_form.html.twig') }}
        <a href="{{ path('app_home') }}">back to list</a>
    </div>




{% endblock %}
